@model QuatTran.Application.DTOs.CategoryDto

@{
    ViewData["Title"] = "Chỉnh sửa danh mục";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CategoryId" />

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <input asp-for="CategoryId" class="form-control" />
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <textarea asp-for="Name" class="form-control"></textarea>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
